name: WordPress Cache Prewarmer

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch:

jobs:
  preload-cache:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout du repository
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      
      - name: Installation des dependances
        run: npm install
      
      - name: Prechargement du cache
        run: node preload.js
